.register__title{
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}
.register__form{
  background-color: rgb(250, 241, 231);
  border-radius: 2rem;
  padding: 3rem;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;

}